@model Index
@{
	ViewBag.Nav = Navigation.Home;
}

<div class="jumbotron">
	<h1>Welcome!</h1>

    <p>
        <br>This website is a set of on-line tools and formatters which help me in my daily tasks and my help others.
        <br>
        <br>
        <br>The website is built on .net 4.5, asp.net mvc 5 and is basded on the <a href="https://github.com/mvckickstart/MvcKickstart">MvcKickstart</a> project.
        <br>
        <br>The sourcecode for this website can be found on <a href="https://github.com/MrCull/MrCullDevTools">GitHub</a>.
        <br>
        <br>This website is built and maintained by DevOps pratices including Automated Unit Tests, Continuous Integration, Continuous Delivery by utilising Azure Pipelines.
        <br>
        <br>Please feel free to use, fork or send in any Pull Requests...
    </p>
</div>
